*{margin: 0px;
    padding: 0px;
    box-sizing: border-box;}
    
    body{ background-color:#ebedf0;}

    .mainhead{display: flex;
        justify-content:space-between ;
        align-items: center;
        background-color:  #133783;
        max-width: 100%;
        height:15vh;
        padding:20px;
        
    }
    .subparts h1{color: white;}
    .subparts .bts{background-color:blue;
    color:white}
    
   
    .cols-md-12{padding-left: 0px;}
    
    
    .container {
         padding-top: 30px; 

        
        /* position:relative; */
        width: 400px;
         max-width: 100%; 
    
    }

    .pqr{display: flex;}
    .abc btn{color: #133783;}
    
    .topheading h2{font-size: 1.0cm;
    font-weight: 600;}
    
    .topheading p{font-size: 0.6cm;
    color:grey;}
    
    .paracontrol{font-size: 0.2cm;}
    
    
    .buttoncontrol{width:70%;
    background-color: green;
    color:white;
    font-weight: 700;
    margin-left: 15px;
    }
    
    
    .error {border: 1px red solid;}
